# commitlint-config
commitlint.config.cjs

# next.config.js
next.config.js
next.config.mjs

# postcss / tailwind
postcss.config.js
tailwind.config.ts

# webpack
webpack.config.example.js

# strapi (uncontrolled code)
strapi-blog
