@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(
    to right top,
    rgb(173, 216, 245),  /* Lighter shade */
    rgb(11, 126, 206),   /* The exact blue you specified */
    rgb(7, 84, 137)      /* Darker shade */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}